body {
  --button-color: #322bff;
  margin: 0;
  padding: 0;
}
.homepage {
  display: flex;
  height: calc(100vh - 3.3rem);
  flex-direction: column;
  background-image: url("https://img.freepik.com/free-vector/abstract-blue-white-wave-background_41084-451.jpg?w=2000");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
}
.homepage p {
  font-size: 1.4rem;
}
.homepage-buttons-outer {
  align-self: center;
  flex-wrap: wrap;
}

.homepage-single-button {
  margin: 1rem !important;
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
  border: 2.5px solid #322bff;
  border-radius: 0.5rem;
  color: #322bff;
  font-weight: bold;
  text-decoration: none !important;
}
@media only screen and (max-width: 600px) {
  .homepage {
    background-size: 350px;
    background-position: top right;
  }
}

.videoLibrary{
  color: #6C63FF !important;
}