.liked-container {
  display: flex;
  flex-wrap: wrap;
}

.none-selected {
  text-align: left;
  font-weight: lighter;
  font-size: large;
}

@media only screen and (max-width: 800px) {
  .liked-container {
    justify-content: center;
  }
}
