.account-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  box-shadow: 0px 0px 10px 0px #6b7280;
  border-radius: 0.4rem;
}

.account-info > * {
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.holder {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--primary-color);
  font-weight: bold;
}

.labels-acc {
  font-weight: bold;
  color: var(--primary-color);
}
.input-box {
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #9ca3af;
  outline-color: #d1fae5;
}
.labels-acc {
  font-weight: bold;
  color: var(--secondary-color);
}
.submit-button {
  align-self: flex-start;
  cursor: pointer;
  height: 2.5rem;
  width: 10rem;
  border: 2.5px solid var(--button-color);
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: transparent;
}

.inline-inputs {
  display: flex;
  justify-content: space-between;
}

.inline-inputs > div {
  width: 45%;
}

@media only screen and (max-width: 1024px) {
  .password-div {
    width: 80vw;
    margin-top: 2vh;
  }
}

@media only screen and (max-width: 650px) {
  .inline-inputs {
    display: block;
  }
  .inline-inputs > div {
    width: 100%;
  }
  .inline-inputs div :nth-child(2) {
    margin-top: 2rem;
  }
}
