body {
  --off-red: #ef4444;
  --primary-color: #dc2626;
}
.buttons-outer {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-button {
  cursor: pointer;
  border-radius: 1rem;
  height: 2rem;
  width: 6rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  padding-right: 0.7;
  background-color: lightgray;
}

.selected {
  background-color: var(--primary-color);
}
.selected button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.categories-button-specific {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 6rem;
}

@media only screen and (max-width: 600px) {
  .buttons-outer {
    justify-content: space-evenly;
  }
}
